<nav id="nav">
<div style="
	float:left;
	margin: 0;
	padding: 0px 5%;
	display: block;
	line-height: 50px;
	text-decoration: none;
  font-family: 'Pacifico', Helvetica, sans-serif;
  font-size:2.5em;
  color: aquamarine;
  text-shadow: 3px 3px 0px rgba(0,0,0,0.3), 7px 7px 0px rgba(0,0,0,0.05);
">Olatruc</div>
<ul>
    <li><a href="home.html">Home</a></li>
    <li><a href="features.html">Features</a>
    <div>
        <ul>
            <li><a href="imgRdr.html">Image Browser</a></li>
            <li><a href="docRdr.html">Doc Reader</a></li>
            <li><a href="faceExprs.html">Face Express</a></li>
        </ul>
    </div>
    </li>
    <li><a href="archives.html">Archives</a></li>
    <li><a href="about.html">About</a>
    <div>
        <ul>
            <li><a href="company.html">Company</a></li>
            <li><a href="learn.html">Learn</a></li>
        </ul>
     </div>
    </li>
</ul>
</nav>
<div id="header-strip"style="
    background-color: aquamarine;
    width: 94.5%;
    display: block;
    overflow: hidden;
    padding-right: 5.5%;
">
<div id="about" style="background-color: red;
    display: block;
    float:right;
    line-height: 3px;
    padding: 0 24px;
">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
<div id="archives" style="background-color: yellow;
    display: block;
    float:right;
    line-height: 3px;
    padding: 0 24px;
">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
<div id="features"style="background-color: pink;
    display: block;
    float:right;
    line-height: 3px;
    padding: 0 24px;
">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
<div id="home"style="background-color: blue;
    display: block;
    float:right;
    line-height: 3px;
    padding: 0 24px;
">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
</div>